{% extends 'FitnessAppLevel/base.html' %}

{% block content %}

  <h1>Home Page</h1>

  <div class="Container">
    <div class="row home-btns">
      <div class="col">  
        <button type="button" class="btn btn-info">Start Next Workout</button>
      </div>
    </div>

    <div class="row home-btns">
      <div class="col">  
        <button type="button" class="btn btn-outline-info">Profile</button>
      </div>
    </div>

    <div class="row home-btns">
      <div class="col">  
        <button type="button" class="btn btn-outline-info">Search Workouts</button>
      </div>
    </div>
  </div>

 



  {% endblock content %}